* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #2db6e4;
}

.body {
    display: flex;
    height: 80vh;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.left {
    width: 20%;
    background-color: #2d2de4;
}

.right {
    width: 80%;
}